/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Container Styles */
.content {
  width: 100%;
  height: 100%;
  margin-left: 60px;
}

/* Navigation Tooltip Styling */
#fp-nav ul li .fp-tooltip {
  color: white;
  background-color: #222;
  padding: 10px;
}

/* Navigation Styling */
#fp-nav.fp-left {
  background-color: #ed2d34;
  left: 0;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 10px;
  width: 60px;
}

/* Product Page Styling, needed for modal */
#productPage {
  position: relative;
}

/* Coloring the navbar icons white */
#fp-nav ul li a span,
#fp-nav ul li a.active span {
  background-color: white;
  color: black;
}

/* Hide title and buttons */
#product-slider h3,
#product-slider button {
  display: none;
}

/* Product slider active item setting */
#product-slider .active h3,
#product-slider .active button {
  display: block;
}

/* Modal Styling */
#modal {
  display: none;
}

#modal.modal-active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  color: black;
  z-index: 100;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%, -50%);
}
/* Used to prevent the carousel from stretching the screen */
.owl-carousel {
  overflow: hidden;
}

/* Used to scale down the home image. You can remove this. */
img {
  max-width: 40vw;
}
*/

/* PLEASE START YOUR STYLES UNDERNEATH THIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(87, 84, 84);
  font-weight: bold;
  padding-bottom: 10px;
}

.red {
  color: #ed2d34;
  font-weight: bold;
  padding-bottom: 10px;
}

body {
  font-family: sans-serif;
  background-image: url(images/banner.jpg);
  background-size: cover;
}

.description {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  padding-bottom: 40px;
  color: rgb(87, 84, 84);
}

.content {
  width: 100%;
  height: 100%;
  margin-left: 60px;
}

.button {
  border: solid;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
  margin-left: 50px;
  background-color: white;
  color: rgb(87, 84, 84);
  transition: 0.3s ease-in;
}

.button:hover {
  color: white;
  background-color: #ed2d34;
  border: solid;
}

#homePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-heading {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.img_1 {
  align-items: center;
}
.icon {
  top: 20px;
  right: 30px;
  position: absolute;
}

.home-details {
  width: 30%;
}

.page-heading {
  color: rgb(87, 84, 84);
  margin-top: 60px;
  margin-left: 60px;
  font-size: 40px;
}

.page-subtitle {
  color: #ed2d34;
  margin-left: 60px;
  font-size: 40px;
}

h4 {
  color: rgb(87, 84, 84);
}

.counter {
  color: rgb(87, 84, 84);
}

.number-counter {
  margin-bottom: 10px;
  font-size: 30px;
}

.text-counter {
  font-size: 20px;
}

.product-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.product h3 {
  font-size: 30px;
  margin: 20px;
}

#product-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.product-button {
  border: solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  margin-top: 20px;
  background-color: white;
  color: rgb(87, 84, 84);
  transition: 0.3s ease-in;
}

.product-button:hover {
  color: white;
  background-color: #ed2d34;
}

#testiomonialPage {
  background-image: url(/images/banner.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.page-header-container {
  text-align: center;
}

.testimonial {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonial-img {
  border-radius: 50%;
  max-width: 75px;
}

#contactPage {
  background-image: url(/images/banner.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
}
.page-header-cntainer {
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#contact-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: #222;
  flex-direction: column;
  width: 200px;
  height: 500px;
  margin-left: 0px;
  margin-top: 300px;
  padding: 20px;
  border: #222;
  outline: #222;
}

.contact-input {
  width: 500px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5% 10%;
  border: none;
  outline: none;
}

#message {
  padding-top: 30px;
  margin-bottom: 50px;
  height: 150px;
}

.contact-icon {
  font-size: 2rem;
  margin-right: 20px;
}

.contact-details-heading {
  font-size: 25px;
  margin-bottom: 35px;
}

.contact-details-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 200px;
}

.contact-details-description {
  /*margin-bottom: 60px;*/
  font-size: 20px;
}

.details {
  font-size: 20px;
}

label {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    text-align: center;
    overflow-y: hidden;
  }
}

.owl-stage {
  transition: all 0.25s ease 0s;
  width: 800px;
  transform: translate3d();
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  max-width: 100%;
  margin-right: 10px;
  font-size: 20px;
}

.owl-carousel {
  overflow: hidden;
}
